
.esimene{
    height: 100vh;
    background-image: url(jooks_taust.jpeg); /* allikas: https://www.pexels.com/photo/person-jogging-on-road-4252477/ */
    width: 100%;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    position: relative;
    
}
.teine{
    height: 100vh;
    width: 100%;
    background-image: url(puder.jpg); /* allikas: https://pixabay.com/photos/oats-overnight-oats-porridge-sweet-3272113/ */
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    display: flex;
}